[submodule "themes/hugo-rapid-theme"]
	path = themes/hugo-rapid-theme
	url = https://github.com/coderzh/hugo-rapid-theme.git
[submodule "themes/hugo-creative-portfolio-theme"]
	path = themes/hugo-creative-portfolio-theme
	url = https://github.com/kishaningithub/hugo-creative-portfolio-theme
[submodule "themes/hugo-icarus-theme"]
	path = themes/hugo-icarus-theme
	url = https://github.com/digitalcraftsman/hugo-icarus-theme
